
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="WatchesApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Watch</title>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="~/Content/Scripts/IndexApp.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/Content/Css/StyleIndex.css" rel="stylesheet" />
</head>
<body>
    <div id="header" class="container-fluid" ng-controller="SubscribeCtrl">

        <div class="text-center">
            <img id="logo" src="~/Content/Image/logo.jpg" class="logo rounded mx-auto d-block" />
        </div>

        <div class="h1">
            <h1 class="white_text">The largest selection of watches</h1>
        </div>

        <div class="subscribe">
            <p class="lead white_text">Subscribe to get exclusive access to Premium market insights and updates!</p>
            <form name="SubEmail" novalidate>
                <div class="input-group mb-3 form_sub">
                    <input type="email" class="form-control bg-dark border border-dark text-white-50" placeholder="Enter your Email" ng-model="email" required />
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="button" id="button-subscribe" ng-click="subscribe(email)" ng-disabled="SubEmail.$invalid"><span class="text-light">Send</span></button>
                    </div>
            </div>
            </form>
        </div>
    </div>

    <div id="body" ng-controller="BodyCtrl">
        <div class="input-group mb-4 elem-in-body">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" id="button-find">&#128270;</button>
            </div>

            <input type="text" class="form-control" placeholder="Search" ng-model="search">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="ShowDropdown()">Group by</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
         </div>

        <div class="card-columns elem-in-body items container">
                <div class="card" ng-repeat="watch in Watches | filter : FilterbyName">
                    <img class="card-img-top" src="{{watch.image}}" alt="Watch image">
                    <div class="card-body">
                        <h5 class="card-title">{{watch.name}}</h5>
                        <p class="card-text">{{watch.text}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-info">Price: {{watch.price | currency : UAH}}</small>
                    </div>
                </div>
        </div>
     </div>
    
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    &Omega; OMEGA
                </div>
                <div class="col-sm text-center">
                    Copyright &copy; All Rights Reserved
                </div>
                <div class="col-sm text-center">
                    Home &nbsp; Contact us
                </div>
            </div>
        </div>
    </div>
</body>
</html>
