body {
    margin: 0px;
}

#header {
    background:url('../Image/header.jpg') no-repeat;
    height:777px;
    width: 100%;
    margin: 0px;
}

.h1{
    margin-top:150px;
}

#body{
    margin-top: 20px;
}

#footer{
    background-color:gray;
    height:200px;
    display: flex;
    align-items:center;
}

#logo
{
    width: 50px !important;
    height: 50px !important;
}

.white_text{
    color:white;
}

.subscribe{
    margin-top:50px;
}

.form_sub{
   width:400px;
}

.elem-in-body{
    width: 1200px;
    margin: 0 auto;
}

.items{
    margin-top: 20px;
}